/* Root */

:root {
    --color-primary: #008496;
}


/* Text selection color */

::-moz-selection {
    color: #fff;
    background: var(--color-primary);
}
::selection {
    color: #fff;
    background: var(--color-primary);
}


/* Custom scrollbar */

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}


/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
    /* background: #f1ffde; */
}


/* --- BUG --- */

.BUG {
    border: 1px dashed #f00;
}
