/* Container */

.container{
    min-width: 360px;
    box-shadow: 0 12px 24px #000000a0;
    padding: 3rem;
    margin: 3rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    background-image: url(./assets/bg.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.98);
    transition: all 0.8s;
}
.container:hover{
    transform: scale(1);
    background-position: center;
    box-shadow: 0 12px 24px #00000060;
}


/* Profile */

.profile{
    text-align: center;
    background: #000000aa;
    width: 100%;
    border-radius: 4px;
    padding: 2rem 0;
}
.profilepic{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    filter: brightness(0.8);
    /* transition: all 1s;
}
.profilepic:hover{
    filter: brightness(1);
    filter: grayscale(0.); */
}
.profiletxt{
    text-align: center;
    font-weight: bold;
}
.name{
    margin-top: 1rem;
    font-size: 2.4rem;
    color: #fff;
    text-shadow: 6px 6px 6px #0000002d;
}
.info{
    margin-top: 1rem;
    color: #ccc;
    text-shadow: 6px 6px 6px #0000002d;
}


/* Socials */

.socials{
    display: flex;
    gap: 2.4rem;
}
.icon{
    width: 5rem;
    cursor: pointer;
    filter: invert(0.5);
    transition: 0.3s;
}
.icon:hover{
    transform: scale(1.05);
    filter: invert(1);
}
.iconfill{
    border: 1.5px solid #000;
    border-radius: 50px;
    padding: 8px;
}

.links{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
}
.link {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: #fffa;
    background: #000;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}
.link:hover {
    transform: translate(0, -2px);
    box-shadow: -8px 8px 12px 12px rgba(0, 0, 0, 0.05);
}
.link:active {
    transform: translate(0, 0);
    box-shadow: none;
}
